// Primary-color
$black-900: #000000;
$brown-800: #FFFFFF;

// Secondary-color
$yellow-900: #FFBA60;
$black-700: rgba(0, 0, 0, 0.75);

// Typography | Fonts
$font-abril-fatface: 'Abril Fatface', cursive;
$font-raleway: 'Raleway', sans-serif;

// Breakpoints
$large: 992px;