@import "./variables";
@import "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  width: 100vw;
  height: 100%;
  margin-top: 30px;
  margin-left: 25px;
  margin-right: 25px;
}

.nav__bar {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.img__icon--container {
  margin-left: 30px;
}

.menu__botton {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.menu__list {
  width: 300px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-family: $font-raleway;

  li {
    a {
      font-size: 14px;
      font-weight: bold;
      text-decoration: none;
      color: #000;
    }
  }
}

.button__template,
.contact__button {
  padding: 3px 30px;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-weight: bold;
}

.button__template--white {
  padding: 3px 25px;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-weight: bold;
}

.button__template,
.button__template--white,
.contact__button,
.icon__button {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button__template:hover,
.button__template--white:hover,
.contact__button:hover {
  background-color: gray;
  color: white;
}

.icon__button {
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  background-color: transparent;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  //no me jalo//
  // &:before {
  //   background-image: url($icon-1);
  //   left: 0;
  // }

  // &:after {
  //   background-image: url($icon-2);
  //   right: 0;
  // }




  margin-left: 10px;
  border-radius: 5px;
  //   background-color: #eeeeee;
  cursor: pointer;
}

//  */aqui comienza la segunda parte*/
.landing__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 60px;

  p {
    font-family: $font-raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #858585;
    ;
  }

  h1 {
    font-family: $font-abril-fatface;
    font-size: 56px;
    font-weight: 400;
    line-height: 43px;
    text-align: center;
    color: #000000;
    margin: 1.5rem 0;
  }
}

.button__container {
  margin-top: 20px;
}

.button__template {
  margin: 10px;
}

.social__media {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.social__media a {
  margin-right: 90px;
  margin-bottom: 9px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.piano__landing {

  width: 50%;
  margin-top: 5rem;
  text-align: center;
  filter: drop-shadow(-9.40088px 8.11894px 27.348px rgba(0, 0, 0, 0.38));

  img {
    width: 100%;
  }
}

.social__media {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 992px) {

  .menu__list,
  .contact__button,
  .social__media {
    display: none;

    .piano__landing {
      display: flex;
      justify-content: center;

      h1 {
        display: flex;
        justify-content: center;
      }
    }
  }
}

// FIN AZAEL

// INICIO LIBARDO
#third__brownpiano-section {
  height: 769px;
  height: 761px;
  background-color: orange;
  border: orange;
  margin: 0%;
  padding: 0%;
  align-items: center;
}

.columns__brownpiano-section {
  display: flex;
  flex-direction: row-reverse;
}

#brownpiano-Encabezado {
  height: 200px;
  background-color: green;
  text-align: center;
  margin: 0;
}

.image__brownpiano-container {
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: end;
}

.brownpiano__container-article {
  color: white;
  background-color: blue;
  align-items: center;
  text-align: center;
  justify-content: baseline;
}

.little-stars .star {
  color: yellow;
}

.brown__piano-description {
  text-align: justify;
  word-wrap: normal;
}

.list-container ul.horizontal-list li {
  display: inline-block;
  margin-right: 10px;
}

.big-black-buttonpianobrown {
  color: white;
  background-color: black;
}

@media only screen and (max-width: 599px) {
  #third__brownpiano-section {
    height: 769px;
  }

  .image__brownpiano-container,
  .brownpiano__container-article {
    width: 100%;
  }

  .image__brownpiano-container {
    height: 28%;
  }

  .brownpiano__container-article {
    height: 55%;
  }

  .columns__brownpiano-section {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 600px) and (max-width: 959px) {

  .image__brownpiano-container,
  .brownpiano__container-article {
    width: 100%;
  }

  .columns__brownpiano-section {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {

  .image__brownpiano-container,
  .brownpiano__container-article {
    width: 50%;
  }
}

@media only screen and (min-width: 1200px) {

  .image__brownpiano-container,
  .brownpiano__container-article {
    width: 50%;
  }

  .third__brownpiano-section {
    width: 960px;
    left: 0px;
    top: 926px;
    border-radius: 0px;
  }
}

// FIN LIBARDO

//Inicia Gerardo 
/* inicia seccion de estilos seccion 4 */

.piano__container--shopcontainer {
  display: flex;
  justify-content: center;

}

.tittle__section3 {
  font-family: 'Abril Fatface', cursive;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
}

.piano__catalogue {
  margin-top: 70px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;

}

.piano__container {
  width: 100vw;
  height: 700px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;

}



.piano__catalogue .piano__container--card {
  width: 250px;
  height: 350px;
  background: #ffffff;
  margin-top: 24px;
  box-shadow: 0px 28px 64px 12px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  overflow: hidden;
  justify-content: space-around;
  margin-left: 26px;
  margin-right: 26px;
}

.piano__container--list {
  display: flex;
  flex-wrap: wrap;
  margin: 9px;
  width: 100%;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  height: 14px;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-size: 14px;
}

.piano__container--listitems {
  margin-left: 0;
  margin-right: 0px;
}

.piano__container--features {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  height: 26px;
  justify-content: center;


}

.piano__container--pricebox {
  width: 161px;
  height: 36px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #ffffff;
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  color: rgba(0, 0, 0, 0.75);
  font-weight: 400;
}

.piano__container--pricebox p {
  font-family: 'Raleway', sans-serif;
  color: rgba(0, 0, 0, 0.75);
  font-weight: 600;
}

.piano__card--cart {
  width: 36px;
  height: 36px;

}

.piano__container--image {
  margin: 20px;
  width: 205px;
  height: 166.36px;

}

.price__box {
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-self: flex-end;
  margin-bottom: 2px;

}

.piano__container--model {
  font-family: 'Abril Fatface', cursive;
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  letter-spacing: .7px;
}

.piano__container--listitems:nth-child(1) {
  list-style: none;

}

.piano__container--name {
  display: flex;
  width: 100%;
  height: 28px;
  margin-top: 15px;
  align-items: center;
}

.piano__container--vector {
  width: 232px;
  height: 0px;
  border: 1px dashed #DBDBDB;
}


// @media only screen and (min-width: 992px) {
//   .piano__catalogue .piano__container--card {}
// }

/*   
finaliza seccion 4 (gerardo) */




//Termina Gerardo

// ⬇ INICIO DANI S
.form_contact {
  font-size: 24px;
}

.form_text {
  font-size: 18px;
  font-family: "Abril Fatface";
}

.name_line_container {
  font-family: Arial Black;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
}




.controls {
  background-color: black;
  width: 288px;
  height: 36px;
  border: 1px solid;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.65);
  border: 1px solid #FFFFFF;
}

.input_container_email {
  background-color: black;
  width: 288px;
  height: 36px;
  border: 1px solid;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.65);
  border: 1px solid #FFFFFF;
}

.input_container_phone {
  background-color: black;
  width: 288px;
  height: 36px;
  border: 1px solid;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.65);
  border: 1px solid #FFFFFF;
}

.button {
  height: 32px;
  width: 288px;
  background-color: black;
  color: white;
  border-radius: 10px;
  margin-bottom: 75px;
  cursor: pointer;
}

body {
  background-color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./img/pazioli.png);
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.35) 100%), url("./img/pazioli.png");
  background-position: center;
  background-size: cover;
  text-align: center;
}


#cuentanos_mas {
  height: 148px;
  width: 288px;
}



@media (min-width: 992px) {
  body {
    background-color: white;
  }

  #nombre {
    width: 464px;
    height: 36px;
  }

  .tellus_box {
    margin-top: 7px;
  }

  #cuentanos_mas {
    height: 148px;
    width: 464px;
  }

  .button_box {
    margin-bottom: 10px;
    margin-top: 8px;
  }

  .button {
    width: 464px;
    height: 32px;

  }

  .form_box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
  }

  .input_container_phone {
    width: 224px;
    height: 36px;
  }

  .input_container_email {
    width: 224px;
    height: 36px;
  }

  .text_box {
    width: 561px;
    height: 57px;
  }

  .form_contact {

    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text_box {
    width: 561px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
}

// FIN DANI S

// ⬇ INICIO VÍCTOR
.partners__container {
  background: linear-gradient(177.96deg, #6F6F6F 1.72%, #FFFFFF 98.63%);
  padding: 24px 16.45px 62px 15.55px;
  display: flex;

  @include center;

  @include responsive($large) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 83px;
    padding-top: 49px;

  }

  .partners__title {
    margin-bottom: 16px;
    // @mixin h2-font-style
    font-family: $font-abril-fatface;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width: 288px;

    @include responsive($large) {
      font-size: 32px;
      margin-bottom: 49px;
      width: 470px;

    }
  }

  .partners-top {

    .partners-block__items--right {
      border-bottom-right-radius: 250px;
      border-top-right-radius: 250px;
    }

    .petrof-img {
      margin: 8px 0 0 18px;
    }

    .petrof-span {
      margin-right: 30px;
    }

    @include responsive($large) {
      display: flex;
      justify-content: center;

      .partners-block__items--right {
        border-bottom-right-radius: 1000px;
        border-top-right-radius: 1000px;
      }

      .paris-pian-spn {
        margin-right: 30px;
      }

      .paris-pian-img {
        margin: 18px 0 0 2px;
      }
    }
  }

  .partners-mid {
    .bookpa-spn {
      margin: 30px;
    }

    .bookpa-img {
      margin: 10px 0 0 10px;
    }

    .partners-block__items--left {
      border-bottom-left-radius: 250px;
      border-top-left-radius: 250px;
    }

    @include responsive($large) {
      display: flex;

      .partners-block__items--left {
        border-bottom-left-radius: 1000px;
        border-top-left-radius: 1000px;
      }

      .hefilti-spn {
        margin-left: 30px;
      }

      .yamaha-spn {
        margin-left: 30px;
      }

      .hefilti-img {
        margin: 11px 0 0 13px;
      }
    }
  }

  .partners-bttm {

    .pianotwo-spn {
      margin-right: 30px;
    }

    .pianotwo-img {
      margin: 13px;
    }

    .piafmar-img {
      margin: 12px 0 0 20px;
    }

    .piafmar-spn {
      margin-right: 30px;
    }

    .partners-block__items--right {
      border-bottom-right-radius: 250px;
      border-top-right-radius: 250px;
    }

    @include responsive($large) {
      display: flex;
      justify-content: center;
    }
  }

  .list-style {
    list-style-type: none;
  }

  .partners-block__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    font-family: $font-raleway;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    font-variant: small-caps;
    color: $brown-800;
    background-color: $black-900;
    width: 288px;
    height: 93px;
    margin: 32px;
    padding: 10px;
    border-radius: 1000px;
  }

  .partners-block__items--hidden {
    display: none;

    @include responsive($large) {
      display: contents;
    }
  }

  .bg-icon {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 1000px;
    border: 0.889758px solid #FFFFFF;
    width: 68.98px;
    height: 68.98px;
  }
}

// Declaración de la animación
@keyframes move {
  from {
    transform: translateX(-50%);
  }

  to {
    transform: translateX(50%);
  }
}


.move-right {
  animation-name: move;
  animation-duration: 43s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.move-left {
  animation-name: move;
  animation-direction: reverse;
  animation-duration: 43s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

// ⬆ FIN VÍCTOR

// ⬇ INICIO DANI G
@media screen and (max-width: 992px) {
  .container__footer_all {
    flex-direction: column;
  }

  .container__AboutUs {
    padding-left: 50px;
  }

  .container__address {
    padding-left: 111px;
  }
}

.container__footer_all {
  max-width: 1370px;
  height: 450px;
}

.container__footer_all {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container__CR {
  display: flex;
  justify-content: center;
  max-width: 1370px;
}

.container__Powered {
  display: flex;
  justify-content: center;
  max-width: 1370px;
}

footer {
  background: linear-gradient(177.96deg, rgba(255, 255, 255, 0.43) 1.72%, #6F6F6F 107.44%) bottom center;
}

.container__AboutUs--List {
  list-style-type: none;
}

.anchore__none {
  text-decoration: none;
}

// ⬆ FIN DANI G