* {
    margin: 0;
    padding: 0;
}

.home {
width: 100%;
height: 100;



}
.nav__bar {
    height: 55px;
    display:flex;
    align-items: center;
    justify-content: space-between
}

.menu__botton {
display:flex;
align-items: center;
justify-content: space-between;
}
.menu__list {
width: 300px;
    display: flex;
justify-content: space-around;
}

//third section start

#third__brownpiano-section {
    background-color: orange;
    border: orange;
    margin: 0%;
    padding: 0%;
    align-items: center;    
}

.columns__brownpiano-section {
    display: flex; 
    flex-direction: row-reverse;  
}

#brownpiano-Encabezado {
    background-color: green;
    text-align: center;
    margin: 0;
}

.image__brownpiano-container {
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: end;
}

.brownpiano__container-article {
    color: white;
    background-color: blue;
    align-items: center;
    text-align: center;
    justify-content: baseline;
}

.little-stars .star {
    color: yellow;
}
  
.brown__piano-description {
  text-align: justify;
  word-wrap: normal
}
  
.list-container ul.horizontal-list li {
    display: inline-block;
    margin-right: 10px;
}

.big-black-buttonpianobrown {
    color: white;
    background-color: black;
}

@media only screen and (max-width: 599px) {
    .image__brownpiano-container,
    .brownpiano__container-article {
      width: 100%;
    }

    .image__brownpiano-container {height:28%;}
    .brownpiano__container-article {height: 55%;      
    }

    .columns__brownpiano-section {
        display: flex;
        flex-direction: column;
    }
}
  
@media only screen and (min-width: 600px) and (max-width: 959px) {
    .image__brownpiano-container,
    .brownpiano__container-article {
      width: 100%;
    }

    .columns__brownpiano-section {
        display: flex;
        flex-direction: column;
    }
}
  
@media only screen and (min-width: 960px) and (max-width: 1199px) {
    .image__brownpiano-container,
    .brownpiano__container-article {
      width: 50%;
    }
}
  
@media only screen and (min-width: 1200px) {
    .image__brownpiano-container,
    .brownpiano__container-article {
      width: 50%;
    }    
}

//third section end
  
  
 

