@use "../variables";
@use "../mixins";

// @import "../variables"

.partners__container {
    background: linear-gradient(177.96deg, #6F6F6F 1.72%, #FFFFFF 98.63%);
    padding: 24px 16.45px 62px 15.55px;
    display: flex;

    @include mixins.center;

    @include mixins.responsive(variables.$large) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 83px;
        padding-top: 49px;

    }

    .partners__title {
        margin-bottom: 16px;
        // @mixin h2-font-style
        font-family: variables.$font-abril-fatface;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        width: 288px;

        @include mixins.responsive(variables.$large) {
            font-size: 32px;
            margin-bottom: 49px;
            width: 470px;

        }
    }

    .partners-top {
        .petrof-img {
            margin: 8px 0 0 18px;
        }

        .petrof-span {
            margin-right: 30px;
        }

        @include mixins.responsive(variables.$large) {
            display: flex;
            justify-content: center;

            .paris-pian-spn {
                margin-right: 30px;
            }

            .paris-pian-img {
                margin: 18px 0 0 2px;
            }
        }
    }

    .partners-mid {
        .bookpa-spn {
            margin: 30px;
        }

        .bookpa-img {
            margin: 10px 0 0 10px;
        }

        @include mixins.responsive(variables.$large) {
            display: flex;

            .hefilti-spn {
                margin-left: 30px;
            }

            .yamaha-spn {
                margin-left: 30px;
            }

            .hefilti-img {
                margin: 11px 0 0 13px;
            }
        }
    }

    .partners-bttm {
        .pianotwo-spn {
            margin-right: 30px;
        }

        .pianotwo-img {
            margin: 13px;
        }

        .piafmar-img {
            margin: 12px 0 0 20px;
        }

        .piafmar-spn {
            margin-right: 30px;
        }

        // .partners-block__items--link {
        //     border-bottom-right-radius: 250px;
        //     border-top-right-radius: 250px;
        // }

        @include mixins.responsive(variables.$large) {
            display: flex;
            justify-content: center;
        }
    }

    .list-style {
        list-style-type: none;
    }

    .partners-block__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        font-family: variables.$font-raleway;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
        font-variant: small-caps;
        color: variables.$brown-800;
        background-color: variables.$black-900;
        width: 288px;
        height: 93px;
        margin: 32px;
        padding: 10px;
        border-radius: 1000px;
    }

    .partners-block__items--hidden {
        display: none;

        @include mixins.responsive(variables.$large) {
            display: contents;
        }
    }

    .bg-icon {
        background: rgba(255, 255, 255, 0.5);
        border-radius: 1000px;
        border: 0.889758px solid #FFFFFF;
        // position: absolute;
        width: 68.98px;
        height: 68.98px;
    }
}

// Declarar la animación
@keyframes move {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(100%);
    }
}

.move-right {
    animation-name: move;
    // animation-direction: reverse;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.move-left {
    animation-name: move;
    animation-direction: reverse;
    animation-duration: 32s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}